
dist
.output
.vercel
.netlify
netlify
.env
.vscode
__pycache__

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# Temp
gitignore

# System Files
.DS_Store
Thumbs.db

# Ansible
vars.yml
inventory.yml
ansible_secrets_pass.txt

# Easy Gundam
roles/services/files/easy_gundam_db.sql
roles/services/files/easy_gundam_api_uploads
